body {
  overflow-x: hidden;
}
select {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 1em;
  border: 1px solid #3a403d;
}

.chart {
  height: 100px;
  font-weight: 300;
}

/*TITLES*/
.chart-title {
  font-size: 1.8em;
  font-weight: 900;
}
.chart-subtitle {
  margin-top: 20px;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.chart-year {
  font-size: 1em;
  font-weight: 400;
}
.chart-source {
  font-size: .9em;
  color: #777;
}

/*AXES*/
.y.axis {
  font-size: .8em;
}
.y.axis path {
  stroke-width: 2;
}
.axis path {
  stroke-width: 1;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis {
  font-size: 1em;
}
.x.axis text {
  display: none;
}
#chart_2016 .x.axis text {
  display: block;
}
#chart_2016 .x.axis .tick:nth-of-type(4){
  display: none;
}

/*BARS*/
.bar-area {
  fill: #f7f7f7;
  cursor: crosshair;
}
.bar {
  fill: #2980b9;
  cursor: crosshair;
}
.bar:hover {
  fill: #2c3e50;
}
.text-max {
  font-size: .8em;
}
.text-max-line {
  stroke: #000;
  stroke-width: 2;
}

/*TOOLTIP*/
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: hsla(0,0%,100%,.8);
  color: #3a403d;
  border-radius: 4px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: hsla(0,0%,100%,.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

@media only screen and (max-width: 768px){
  select {
    padding:4px;
    -moz-appearance:menulist;
    -webkit-appearance:menulist;
    -o-appearance:menulist;
    -ms-appearance:menulist;
    appearance:menulist;
  }
  .chart-title {
    font-size: 1.5em;
  }
  .chart-subtitle {
    font-size: 1em;
  }
}
